.sliderA {
	width: 650px;
	height: 400px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0 0 20px 1px black;
	margin-left: 60px;
    margin-top: 45px;
    margin-bottom: 30px;
	float: left;
}
	
.sliderA > input {
	display: none;
}

.sliderA > input + label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 8px;
	background: rgba(90, 90, 90, 0.8);
	border: 2px solid rgba(190, 190, 190, 0.8);
	cursor: pointer;
	z-index: 100;
	position: relative;
	margin-right: 4px;
	top: 90%;
	transition: background 0.8s ease-out 0s;
}

.sliderA > input + label:hover {
	background: rgba(250, 250, 250, 0.8);
}

.sliderA > input:checked + label {
	background: rgba(220, 220, 220, 0.8);
}

.sliderA > div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}

.sliderA > div {
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.sliderA > input:checked + label + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
	
.sliderA  > div > img {
	width: 650px;
	height: 400px;
}

    .sliderA > input + label + div + label {
        display: none;
    }

    .sliderA > input:checked + label + div + label {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 50;
    }